[2020-06-03 11:27] proskilly opened #2 "Struggling with .xlsx file"
I'm not sure where the fault lies here is the server side code
`                return File(fileContents: excelFile,
                    contentType: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet");`
excelFile is a byte array produced using the EPPlus.

Then client side :
`                byte[] bytes = await httpResponseMessage.Content.ReadAsByteArrayAsync();

[2020-06-03 13:31] arivera12 commented on #2
~~@proskilly can you test that this excel opens correctly without going into the download process?~~

My bad I misunderstand.

Can you attach this excel here so I can test it on test enviroment?

[2020-06-03 13:52] arivera12 commented on #2
As far as I can see and understand I think you may have problems reading and sending the file to the client, you told me that the file that is downloaded is twice as big as the proper/working version of the file.

Have you watched the file stream length when streaming into the http client how big is and if bytes length matches with the server side excel file?

[2020-06-03 13:57] proskilly commented on #2
I can't send you the file because it has sensitive info in for my client, but i'll try a simple test xlsx file in a bit.
The file I have been having problems with is 25,570 bytes on the server and 51,140 bytes (twice as big) when downloaded and the response content length is 51,140 when i look at it in Chrome dev tools.

[2020-06-03 14:02] arivera12 commented on #2
Don't worry I understand.

Its seems like your problem may be on the server side.

[2020-06-03 15:04] proskilly commented on #2
Yes the problem was on the server side, I have resolved it now.
In EPPlus I was saving the file on the server then getting the file as a byte array which doubled up the size of the byte array.
Thanks.

[2020-06-03 15:04] #2 closed

[2020-06-03 15:07] arivera12 commented on #2
@proskilly I am glad you found and resolved your problem. Don't forget to star the repository.

[2020-06-03 15:12] arivera12 opened #3 "Add optional parameter contentType with default value application/octet-stream"

[2020-06-04 18:52] arivera12 commented on #3
Added on https://github.com/arivera12/BlazorDownloadFile/commit/993a490c62de86278ea993f53b381b071751c708

[2020-06-04 18:52] #3 closed

[2020-06-06 03:34] rebelweb opened #4 "Doesn't appear to work for text or json files"
I am trying to send a JSON file to user, but looking at the code this is made for more binary type files and not text files.

[2020-06-06 04:37] arivera12 commented on #4
Yes, this library indeed is made for binary type files only.

One quick dirty and fast alternative is convert the string to byte array then to base64.

Here is an extension method for string types that should work properly
[code]

I may need to take some time to analyze what should be the proper way to download a file as text from any format.

[2020-06-06 04:42] arivera12 commented on #4
In which datatype is your json? string? stream? byte array? I am assuming you have your json data on string, am I correct?

[2020-06-06 04:45] rebelweb commented on #4
I am using string. Thanks for the response, I went ahead and used IJSRuntime. I tried converting to one of the data types you support and couldn't get it to work. I was missing the convert to UTF-8. 🤦‍♂️

[2020-06-06 04:48] arivera12 commented on #4
Check out the extension method I wrote here. It should work and help you.

[2020-06-06 05:57] arivera12 commented on #4
@rebelweb I added a new and tested method that manage file downloads from plain text.

`BlazorDownloadFileService.DownloadFileFromText(string fileName, string plainText, string contentType = "text/plain")`

Please update `Install-Package BlazorDownloadFile -Version 1.0.10`

[2020-06-06 05:57] #4 closed

[2020-06-08 07:09] merajsyed opened #5 "Error while downloading large size file over IIS Blazor Server"
Getting following error while downloading large size file (around 30 MB) after publishing to IIS

Error: Connection disconnected with error 'Error: WebSocket closed with status code: 1006 ().'.

![Blazor_Large_Download_Error](https://user-images.githubusercontent.com/66589512/84001807-0e536880-a970-11ea-87d2-5d69888784a5.PNG)

[2020-06-08 15:10] arivera12 commented on #5
@merajsyed it's seems you are getting a timeout from SignalR.

This is by security design, SignalR max message size by default its only 32 KB.

Take a look of [SignalR Security](https://docs.microsoft.com/en-us/aspnet/core/signalr/security?view=aspnetcore-3.1#buffer-management).

To fix this issues you have options like:

Increase SignalR `ApplicationMaxBufferSize` **_(Not recommended)_**

Downloa

[2020-06-09 12:59] merajsyed commented on #5
Same error after increasing `ApplicationMaxBufferSize`.

I tried by increasing `MaximumReceiveMessageSize` also but no luck.
`services.AddSignalR(e =>
            {
                e.MaximumReceiveMessageSize = 102400000;
             });`

[2020-06-09 13:09] arivera12 commented on #5
Can you attach a sample which reproduces this error?

[2020-06-09 13:15] arivera12 commented on #5
Did you increased or tried `TransportMaxBufferSize` as well?

[2020-06-09 13:27] merajsyed commented on #5
Yes, I tried by increasing `TransportMaxBufferSize` as well.
I cannot share the sample file due to sensitive data. It is working fine locally. Error is coming only after publishing to IIS.

[2020-06-09 13:36] arivera12 commented on #5
I haven't try the library over iis and over blazor server so I don't know how and if this works over them, only blazor wasm.

But you have confirmed that it works over blazor server, that it's good.

I haven't try run blazor over iis so I don't know what could be wrong.

Are you deploying to iis over azure or local iis?

[2020-06-09 13:45] arivera12 commented on #5
[check out this thread to see if helps](https://stackoverflow.com/questions/60148492/client-cannot-connect-to-signalr-hub-of-a-blazor-webassembly-app-running-on-iis/60154089#60154089)

[2020-06-09 13:50] arivera12 commented on #5
The only way to fix this may be comparing you iis express setting vs your iis settings in production envinroment.

[2020-06-10 06:59] merajsyed commented on #5
Accidentally closed the issue.
I am deploying it over local iis and have web socket enabled.
It seems other people also have same issue reported with aspnetcore [https://github.com/dotnet/aspnetcore/issues/21546](https://github.com/dotnet/aspnetcore/issues/21546)

[2020-06-10 13:11] arivera12 commented on #5
The link shared redirects to this repository.

[2020-06-10 13:12] arivera12 commented on #5
I copy the text instead.

[2020-06-10 13:16] arivera12 commented on #5
I read the issue, its seems a problem with blazor server with deployment host, [related](https://github.com/dotnet/aspnetcore/issues/21546). Have you tried or have a chance to deploy this on top of blazor wasm? If not possible, I just ran out of ideas, we would need to wait for a fix.

[2020-06-10 15:40] merajsyed commented on #5
I ended up downloading in chunks as used in this [gist](https://gist.github.com/JPVenson/8eb2686b2f07d28014d0f4098d0e04c4) and it worked.

[2020-06-10 15:48] arivera12 commented on #5
@merajsyed so It's seems I may have a bug with max capacity of downloading a file... I will keep this issue open to upgrade the library with buffer management. Thanks for the link.

[2020-07-06 06:39] AlanChurchill opened #6 "Stream not working as expected"
First of all, thanks for making this library. I still see a JS dependency in version 1.0.10 that is on nuget.

When I use this code:

            using var stream = new MemoryStream();
            wb.Save(stream, SaveOptions.XlsxDefault); //An Excel spreadsheet
            BlazorDownloadFileService.DownloadFile("SaviAnalysis-PROCs.xlsx", stream, "application/octet-stream");

It does not work and s

[2020-07-06 13:44] arivera12 commented on #6
Are you using Blazor Server or Blazor WASM?

And yes it uses JS under the hood cause its the only way to trigger browser download but

the JS code its embed on a class instead of being reference by the user in the html document.

Can you verify that the stream is not empty and the stream Position is 0 before sending the the DownloadFile method?

Based on your comment if `stream.ToArray()` works fo

[2020-07-06 14:17] savian-net commented on #6
Sorry, Blazor server. Should have mentioned that.

[2020-07-06 14:32] arivera12 commented on #6
Try this please and let me know. If this throws an error please paste it over here it may be related to https://github.com/arivera12/BlazorDownloadFile/issues/5

[2020-07-06 14:39] savian-net commented on #6
It didn't. That one has bit me before so good call. Here is the code that I submitted:

            using var stream = new MemoryStream();
            wb.Save(stream, SaveOptions.XlsxDefault);
            stream.Position = 0;
            BlazorDownloadFileService.DownloadFile("SaviAnalysis-PROCs.xlsx", stream, "application/octet-stream");

It works fine with stream.ToArray()

[2020-07-06 15:52] arivera12 commented on #6
can you send me a sample so I can debug it?

As you can see in the internal implementation of stream overload method calls an extension method stream.ToByteArray() and then converts to base64 string internally cause JS runtime doesn't know how to deal with a stream or byte[].

See this issue: https://github.com/dotnet/aspnetcore/issues/21877

[2020-07-06 15:53] arivera12 commented on #6
@AlanChurchill can you check if any error is being thrown in the browser console?

[2020-07-06 15:57] arivera12 commented on #6
Check out if you are getting this in the console.
![image](https://user-images.githubusercontent.com/5600102/86613567-cc720e00-bf7f-11ea-95d9-58f3613b86f2.png)

[2020-07-06 16:11] savian-net commented on #6
No error in Console. Yes, I saw that. Very limited time to debug since I have it working (and have my own unrelated bugs in my project). What you may want to consider doing is to not do the tobytearray extension. ToArray works and, from what little I read, it creates the byte array for you.

[2020-07-06 16:33] arivera12 commented on #6
@AlanChurchill the stream class doesn't provide a method .ToArray() but since you are using MemoryStream class, this class has the ToArray() method. I may have to consider 2 things use MemoryStream class instead stream class or reimplement the .ToByteArray() extension method.

[2020-07-06 16:53] savian-net commented on #6
How about using the CopyTo depending upon the type of stream:

https://docs.microsoft.com/en-us/dotnet/api/system.io.stream.copyto?view=netcore-3.1

[2020-07-06 17:01] arivera12 commented on #6
Here is the internal implementation of ToByteArray(), not sure if using the CopyTo could be a little overhead
[code]

[2020-07-06 17:06] savian-net commented on #6
Yeah, I looked at it last night. In general, I assume that the internal methods in Core are highly optimized. Minor cost even if a little less efficient. Worth testing or just try and see if  it fixes the problem and move on to next issue in coding. Also, this is not something that will be called a lot so should not have to worry too much about it, IMO.

[2020-07-06 17:08] arivera12 commented on #6
@AlanChurchill any chance to send a sample which reproduces this error so I can debug it and fix it?

[2020-07-06 17:20] arivera12 commented on #6
This seems good.
https://stackoverflow.com/a/6586039/3554970

[2020-07-06 17:35] savian-net commented on #6
I have replicated the basic code but I am not seeing same behavior with this. Hence, it will probably be on my shoulders to find out what is happening. You can see the code in this zip but need the GemBox.Spreadsheet dll (available from their website).

[BlazorDownloadFile-WORKBOOK.zip](https://github.com/arivera12/BlazorDownloadFile/files/4880411/BlazorDownloadFile-WORKBOOK.zip)

[2020-07-06 17:36] arivera12 commented on #6
What you mean by not seeing the same behavior?

[2020-07-06 17:40] arivera12 commented on #6
I changed the implementation with the one I shared on the link, also added the overload for bufferSize and tested it on the demo project and seems ok. I am re implementing this library using buffer management to bypass Blazor Server side web socket max size I/O when working with large files.

Please follow this issue: https://github.com/arivera12/BlazorDownloadFile/issues/5

I will leave this issu

[2020-07-06 17:52] savian-net commented on #6
Thanks. What I saw was that the file would be written but was corrupt. When I looked at the binary, it seemed to be written with all null bytes. However, I didn't get too deep into it since I had other things I needed to work on. Once I got it to work with ToArray, off to next problem (you know the game).

So, to determine where an issue may lay, I may need to debug source.

[2020-07-06 17:56] arivera12 commented on #6
@AlanChurchill in the meantime as it is working with the ToArray method use it like that in the meantime. I will comment back here once I change implementation and re test everything again. Thanks for the report!

[2020-07-08 09:20] Smurf-IV commented on #5
Can "the buffer management" solution, also have a way of
- Starting a save
- Adding many buffers (as they are downloaded to save having to create a single monster ManyGB memory stream and blowing the blazor VM)
- Committing the save (Or auto dispose if exception thrown etc.)

As per a rework of the gist above ?

[2020-07-08 14:33] arivera12 opened #7 "Can "the buffer management" solution, also have a way of"
Can "the buffer management" solution, also have a way of
- Starting a save
- Adding many buffers (as they are downloaded to save having to create a single monster ManyGB memory stream and blowing the blazor VM)
- Committing the save (Or auto dispose if exception thrown etc.)

As per a rework of the gist above ?

_Originally posted by @Smurf-IV in https://github.com/arivera12/BlazorDownloadFile/iss

[2020-07-08 14:34] arivera12 commented on #7
@Smurf-IV sounds good for me but I started reworking this based on the gist. I started implementing this since was reported on my local machine but haven't time to finish this re implementation. I am planning for this weekend or next week to start working on this again.

@Smurf-IV can you explain a little bit more detailed the points:
- Starting a save
- Commiting the save

Did you got into a case

[2020-07-08 14:37] arivera12 commented on #5
@Smurf-IV I transfered your comment into a new issue since sounds promising and a bit complicated because I also found some blazor issues and downsides on stackoverflow.

See the transfered issue here  https://github.com/arivera12/BlazorDownloadFile/issues/7

[2020-07-10 12:06] Smurf-IV commented on #7
Cool

Via use of OnClick, a function is called
- Create async streaming call (i.e. gRPC)
- Make request to start download
- Need to either get the real fileName, or use GetTemp
- Create fileName ready for Appending contents
- ForEach over the streamed data paylods, and append
- Close file (Commit)

Yes ! with a file only 500MB!

Thanks for the link (this is why saving each payload as they come dow

[2020-07-10 12:54] Smurf-IV commented on #7
Only 256MB !
![image](https://user-images.githubusercontent.com/2418812/87156584-ce580c00-c2b4-11ea-89a1-4908f868ea7d.png)

[2020-07-10 13:24] Smurf-IV commented on #7
**Smurf-IV**: And it fell over on a 52MB file, How Am I supposed to support 1GB !

**arivera12** : So you had firstly a memory exception when you reached 256 MB and after another try another exception after reaching 52 MB? Did I understand correctly?

[2020-07-10 13:36] arivera12 commented on #7
Not sure why we can't download a simple stream of whatever size, this sounds like a downside of blazor and more like a hack to work around with it. So to start grouping all the pieces.

Blazor only support a stream no more than 256 MB, we will need to split the stream read into multiple streams that doesn't exceeds 256 MB and then send to JS chunks by chunks as implemented using the gist, delete c

[2020-07-11 07:43] Smurf-IV commented on #7
Correct.

I did not know this, but gRPC `stream implementation` is recommended to be only in chunks of 1MB, But can default to 4MB, so this is well under that ;-)

52MB conversion process seems to blow the VM, so will need to be below that, I tried doing the conversion process "manually" from stream -> byte[] -> stream dispose -> GC -> Base64stream -> byte = null -> GC -> jsInterop ` still goes Bo

[2020-07-11 08:11] Smurf-IV opened #8 "Feature Request: Use the new `native-file-system`"
Still a bit early, but this looks promising as it allows a "stream" to be used
https://web.dev/native-file-system/

It also has a drop back to "Legacy mode", but I was not able to work out what that was (Didn't look for long)

Thoughts ?

[2020-07-11 08:26] Smurf-IV commented on #7
What about this:
https://github.com/jimmywarting/StreamSaver.js

[2020-07-11 15:09] arivera12 commented on #8
This may go on a future update when its a little bit more supported by more browsers but yes, it's looks promising, web apps has come every time more closer to native apps and I hope it stills continue like that.

[2020-07-11 15:13] arivera12 commented on #8
This may go on a future update when its a little bit more supported by more browsers but yes, it's looks promising

[2020-07-11 15:13] arivera12 commented on #7
I still think I may let buffer size and management open for developers to use what ever buffer size they want and left a notation of which is the max size they should use as buffer to prevent blazor VM blow as this may change in the future by MS.

[2020-07-11 16:18] arivera12 commented on #7
Another thing that developers should consider for this to work.

We need to read the stream as soon its arrive the first chunk.

I think this may bypass the problem from blazor side not sure what may happen with the js interop we may still need to do some rigorous tests for this.

Smurf can you test this approach before I start this rework just to see that Blazor VM doesn't blow with this approach

[2020-07-11 20:53] Smurf-IV commented on #7
That's what `gRPC` enables it to do. I'll get an psuedo example tomorrow showing what it looks like in the Blazor Client.

Also this is what I had to do to get the upload working, as the blob into buffer and then send Blew the VM, so I had to use the streaming via js upload method, to send small chunks via gRPC (And the GC.Collect after each chunk to release memory Blob -> base 64 -> MemoryStream

[2020-07-12 07:43] Smurf-IV commented on #7
The following also includes the attempt to try and reclaim as much of the VM as possible before converting into the blob - This still did not work.

Areas of interest highlighted:

![image](https://user-images.githubusercontent.com/2418812/87241490-a505c000-c41b-11ea-9202-3cbda242aeed.png)

[2020-07-12 18:44] arivera12 commented on #7
`DownloadFile` method needs the buffer management to work properly it won't work at all as it is implemented by now. Thanks for the source code and highlights I really appreciate it. I will let you know when this is ready for testing.

[2020-07-22 06:37] Smurf-IV opened #9 "Downloaded file - when saved - has an Extra null appended to the file"
e.g download csv file and save,
Open in winmerge (Or some other tool that supports byte only alignment)
observe a null character at the end of the file.
This fails a "Signature check" because csv have to be ASCII chars only, i.e Alphanumerics with few extras (".,-) etc.
non-printables, back moves, and "Graphics" should fail.

![image](https://user-images.githubusercontent.com/2418812/88142868-2749

[2020-07-22 14:55] arivera12 commented on #9
Hmm, So  the original file doesn't have the trailing null character but when processed by the download file method its gets append?

[2020-07-23 07:14] Smurf-IV commented on #9
Correct.
Notes:
- UnitTest have shown that the stored file on the server is correct
- streamed download of file is also correct
- Extra Null appears on Browser stored file

I think it is this line: https://github.com/arivera12/BlazorDownloadFile/blob/985f13f5ac846f5a935a7c92a48d58ae0c0ced21/BlazorDownloadFile/Extensions/StreamExtensions.cs#L15

[2020-07-23 17:26] arivera12 commented on #9
I will take a deep look on it. I think this weekend I will have some free time to invest on blazordownloadfile.

[2020-07-23 18:36] arivera12 commented on #9
Seems related https://github.com/arivera12/BlazorDownloadFile/issues/6

[2020-07-23 20:32] #6 closed

[2020-07-23 20:33] arivera12 commented on #9
Install-Package BlazorDownloadFile -Version 1.0.11

[2020-07-23 20:34] arivera12 commented on #6
Install-Package BlazorDownloadFile -Version 1.0.12

[2020-07-24 02:45] nabeelbader opened #10 "Folder select option"
Just want to say, this library was really helpful to me today. Is there a possibility it would support a folder select option? Right now, it defaults to the downloads directory.

[2020-07-24 04:05] arivera12 commented on #10
As far as I know this is a browser specific setting.

You would need to disable the browser default directory download behavior to prompt the folder dialog and choose where to save the file.

Take a look of this link and see if helps.

https://stackoverflow.com/questions/27525256/prompt-a-download-location-instead-of-downloading-directly

[2020-07-24 04:15] arivera12 commented on #5
I almost got this. But have been struggling for some hours to fix byte[] and Stream overload methods when converting to base64 for some reason atob works for the first buffer but not for the rest of the buffers in my test example. Base64 string buffered method work perfectly. I may take a deeper look on the weekend. If anyone wants to take a look and help me, this is the commit https://github.com/

[2020-07-24 06:55] Smurf-IV commented on #9
I have left comments on
36bb3a2

[2020-07-24 13:06] arivera12 commented on #5
Ok I just figured out what was wrong, it won't work after decoding cause the root of the base64 string is need for decoding correctly. I will try another approach I have in mind.

[2020-07-24 13:41] nabeelbader commented on #10
Yes! Thats exactly what I needed to know. Thank you.

[2020-07-24 13:42] #10 closed

[2020-07-24 15:14] Smurf-IV commented on #6
Comments left as to why I do not like that version ....

[2020-07-24 16:49] arivera12 commented on #6
@Smurf-IV the method you commented makes sense everything you said but take note that in this version the downloadfile method as overloads, which you can set the desired buffer. The extension method you commented about stream casting to memory stream it's the unbuffered method. For your use of case that extension method won't be used by you. The buffered methods has a total different implementatio

[2020-07-24 21:14] arivera12 commented on #9
I reopen this one to keep track after we test this with the pure stream implementation without the memorystream casting

[2020-07-24 21:16] arivera12 commented on #9
@Smurf-IV take note that the buffered/partitioned implementation doesn't use the .ToByteArray() extension method.

[2020-07-24 22:22] #9 closed

[2020-07-25 07:28] Smurf-IV commented on #9
comments left on de484d2

[2020-07-26 10:32] Smurf-IV opened #11 "Enhancement: Can you show an example of how to get the "Filename" from a `<a>` element"
Can you show an example of how to get the "Filename" from a `<a>` element so that it can be passed into you code for the FileSave ?

e.g. something like
- Create injected `<a>` element with a dummy `application/unknown` encoding that will _probably_ force the `SaveAs` to popup
- Get the href / filename / url / whatever from the link after the dummy file has been created.
- Pass that into you File

[2020-07-26 14:18] arivera12 commented on #11
I don't understand what you want. Let's see if I understand, you have and `<a>` element holding the filename and you want to get the file name from that element from blazor context?

[2020-07-26 14:22] arivera12 commented on #11
I still read it again and I still don't understand what you want. This library already creates an `<a>` element hidden and gets clicked for you to trigger the file download.

[2020-07-26 14:36] arivera12 opened #12 "[Enhancement] Dispose object url after no longer needed"
### Memory management

Each time you call `URL.createObjectURL()`, a new object URL is created, even if you've already created one for the same object. Each of these must be released by calling `URL.revokeObjectURL()` when you no longer need them.

Browsers will release object URLs automatically when the document is unloaded; however, for optimal performance and memory usage, if there are safe tim

[2020-07-26 16:34] #5 closed

[2020-07-26 16:35] #12 closed

[2020-07-26 17:03] arivera12 commented on #7
@Smurf-IV can you update to version 2.0.0 and try again?

[2020-07-26 17:08] arivera12 commented on #7
Talking again about the initial title. What kind of methods do you need or want to be exposed to the blazor context?

Can you share an interface with the methods and what you are expecting to be implemented?

[2020-07-26 17:21] arivera12 commented on #7
Regarding on some performance test I have done in this library is that, base64 string and byte[] performs faster than stream. Since there is not direct conversion between from stream to a JavaScript object its a little more expensive this task. It was very tricky understand how c# transform some data types when interop with JavaScript. When its base64 this is the most simple data type to work with

[2020-07-26 17:59] arivera12 commented on #7
Ok I have read the code a little more deeply.

You want to manage the buffers on your own instead of the library for you?

So, its seems you want some methods like this ones for example:

`AddBuffer(string base64)`
`AddBuffer(byte[] bytes)`
`AddBuffer(Stream stream)`
`ClearBuffers()`
`DownloadBuffers(string fileName, string contentType)`

[2020-07-27 06:47] Smurf-IV commented on #11
I'll download the demo again,
The reason I ask, is that I don't see the "Save As" dialog popup, only an image viewer. So if it's a hidden <a> then it is not doing the File "SaveAs" action.

[2020-07-27 06:53] Smurf-IV commented on #7
Plus a way of getting the users choice of the initial file location to `Start` the process.

[2020-07-27 17:07] arivera12 commented on #11
Someone asked me for that some days ago take a look of this https://github.com/arivera12/BlazorDownloadFile/issues/10#issuecomment-663337652

[2020-07-27 17:28] arivera12 commented on #7
What you mean by this? Like a From-To of the base64, bytes or stream?

If yes, why does this would make sense? I don't understand the point.

I think the way this should work is that you just push into the buffers

Then once you call `DownloadBuffers` method, the buffers gets downloaded into a single file

And buffers gets cleared automatically.

Take note that letting the buffers management open

[2020-07-27 19:19] #7 closed

[2020-07-27 19:23] arivera12 commented on #7
I haven't tested yet the methods but they should work properly as they are being used internally and mixed in the current tested methods. A new package will be release in few days after I update and test demo site.

[2020-07-27 19:24] arivera12 opened #13 "Create new package BlazorDownloadFile 2.1.0 after testing the new methods and upgrading demo site."
https://github.com/arivera12/BlazorDownloadFile/issues/7

[2020-07-28 06:59] Smurf-IV commented on #11
#10 is not what I am asking..
I'm asking for your demo app to show how to get the target filename that the user has selected, to use as the input to your functions.

[2020-07-28 15:32] arivera12 commented on #11
Take a look of this https://github.com/arivera12/BlazorDownloadFile/blob/master/BlazorDownloadFile.Demo/Pages/Index.razor

[2020-07-28 15:47] arivera12 commented on #11
In the demo you pass the filename into the DownloaFile as well the source of the data.

If you want to get the filename from `<a>` lets say for example you have something like this:

`<a download="MyFile.pdf">Download</a>`

To extract the filename from dowload attribute you will need to interop with JavaScript.

For this you need to Inject the JsRuntime:

`[Inject] IJSRuntime JSRuntime { get; set;

[2020-07-29 06:56] Smurf-IV commented on #11
Yes please

[2020-07-29 09:38] Smurf-IV opened #14 "V 2.0.0 has "Confused" default overloads"
When assuming one can use default values, the following is returned in the compiler
![image](https://user-images.githubusercontent.com/2418812/88784177-a2c79380-d187-11ea-86c7-8622fc6b59cf.png)

[2020-07-29 10:03] Smurf-IV opened #15 "V 2.0 `DownloadFile` does not return an error state if the file is not downloaded"
I'm passing a "Known" fully encoded URI filename into the `DownloadFile` API, and then testing for it's existence, but nothing is being returned to say that a fialure has occurred. (Exception etc.

Currently this should fail because it is being used in a Mocked JSInterop environment (BUnit) and therefore no js script function should succeed.

[2020-07-29 10:25] Smurf-IV opened #16 "Before calling `_blazorDownloadFileBuffersPush` should the existing buffers be cleared first"
If the previous download had been cancelled (e.g. Due to a user moving away from the page etc),
then the next call to
`await DownloadFileService.DownloadFile(fileDetails.OriginalFileName, stream, cancellationToken, cancellationToken, bufferSize: 32*1024);`
Would also include the previous files buffers ?

[2020-07-29 13:15] arivera12 commented on #11
This is not related to this library but related to JavaScript and the JsRuntime, but I may add a sample somewhere attached here.

[2020-07-29 13:18] arivera12 commented on #14
One cancellation token is when reading the stream(the first one), the other cancellation token is when interop with JavaScript(the second one).

[2020-07-29 13:42] arivera12 commented on #15
There is not too much I can do here, wrap the entire function inside try and catch block and return what is thrown and null when everything is ok.

[2020-07-29 14:04] arivera12 commented on #16
This is something is left open for the developers to manage when they are using the `AddBuffer` method.

There is a `ClearBuffers` method which manage this.

Every time you call `DownloadFile` and runs entirely, the buffers gets cleared automatically after execution is completed.

If something is appended to the buffer it's not cleared by default, on navigating out side of the page I could catch t

[2020-07-29 16:04] arivera12 commented on #14
You will still need to specify the contentType or the buffersize so the compiler doesn't get confused and know which method to use.

[2020-07-29 23:14] arivera12 commented on #11
[code]

This is one dirty one liner approach but there are more ways of doing it based on the `querySelector` you may use.

You could or couldn't use `ElementReference` approach that is something you decide when to use it or not.

`ElementReference` just adds the `id` attribute with a random generated value to the element, so this would be same as adding the `id` attribute with a value to the elem

[2020-07-29 23:14] #11 closed

[2020-07-29 23:21] arivera12 commented on #14
There is not too much I could do here those overload are needed, if I remove default values developers would still need to specify them, one thing I could do it's remove the default values but I want to left them for reference for the developers to know which value should be safe or ok to use.

[2020-07-29 23:21] #14 closed

[2020-07-29 23:29] arivera12 commented on #15
For implementation reference:

https://www.w3schools.com/js/js_errors.asp

[2020-07-30 06:38] Smurf-IV commented on #16
The `_blazorDownloadFileBuffersPush` is used internally for when downloading the whole file.
Knowledge of the internals is not known.

The example of cancellation is not classed a completion.

Therefore the "whole file" method needs to call clearBuffers before starting any Add####.

[2020-07-30 14:42] arivera12 commented on #16
Not in all cases

I will analyze where and where not this make sense to be done.

[2020-07-31 15:34] arivera12 opened #17 "Add AnyBuffer and BuffersCount methods"

[2020-08-01 16:11] #17 closed

[2020-08-01 16:33] #16 closed

[2020-08-01 17:16] arivera12 commented on #15
## Brainstorming

As far as I know, on this operation of downloading a file, JavaScript won't return any succeeded state when running the download process but it could maybe raise an error somewhere.

So as much I can do it's wrap the entire functions execution into `try` and `catch` block and if something it's raised save the error object and expose it to c#.

### ~~Models~~

~~`JavaScriptError`~

[2020-08-02 18:41] #15 closed

[2020-08-02 18:49] #13 closed

[2020-08-02 18:51] arivera12 commented on #15
### New package available

`Install-Package BlazorDownloadFile -Version 2.1.0`

### Here are the release notes:

https://www.nuget.org/packages/BlazorDownloadFile/2.1.0

[2020-08-03 10:42] Smurf-IV opened #18 "Enhancement: DownloadBinaryBuffers Needs to have a CancellationToken versions"
Currently only this exists
`public ValueTask<DowloadFileResult> DownloadBinaryBuffers(string fileName, string contentType = "application/octet-stream")`

The same will also need to be applied to the other direct `Download####` calls as well

[2020-08-03 15:34] arivera12 commented on #18
I miss that one. I apologize for this I will add it ASAP.

### TODO

Add overloads  `CancellationToken` and `TimeSpan` to `DownloadBase64Buffers` and `DownloadBinaryBuffers`

[2020-08-03 21:59] #18 closed

[2020-08-03 22:00] arivera12 commented on #18
### Release

`Install-Package BlazorDownloadFile -Version 2.1.1`

[2020-08-04 17:13] arivera12 opened #19 "Enhancement: Support Content-Disposition attachment response downloads for server files."
### Problem

When downloading a file from a server directly to JavaScript or Blazor the browser has it's own memory and hardware limitations.

### Solution

We should use Content-Disposition attachment response header as it has more cross-browser compatibility.

When using Content-Disposition attachment response header the backing store that the browser uses its the local disk.

This way we will b

[2020-08-26 15:13] Anil86 opened #20 "Feature request: Ability to configure IBlazorDownloadFileService lifetime"
I need a singleton instance of `BlazorDownloadFileService` (`internal` class).

Please allow configuring registering `IBlazorDownloadFileService`.

*Expected api*:

[code]

___
___

EF.Core allows configuring `DbContext` lifetime.

[code]

[2020-08-26 17:22] arivera12 commented on #20
I will take a look on how to implement this when I have some free time. You can fork and make pull request if you want to contribute.

[2020-08-26 17:49] arivera12 commented on #20
I took a look on the web and looks easy to implement.

[2020-08-26 17:54] #20 closed

[2020-08-26 17:55] arivera12 commented on #20
`Install-Package BlazorDownloadFile -Version 2.1.2`

[2020-08-26 20:46] Anil86 commented on #20
The new api allows specifying `IBlazorDownloadFileService` lifetime.
I'm getting following error:

[code]

Probably `Microsoft.JSInterop.IJSRuntime` must be registered as singleton.

[2020-08-26 21:03] arivera12 commented on #20
I never test changing the lifetime of the service.

Now that I remember, initially I tried setting `BlazorDownloadFileService` as a singleton by default and I crash into this error.

There was a explanation for this and is when you declare a `Singleton` service it forces to initialize at that instance, when service collection are initializing `IJSRuntime` is not available from the service provider

[2020-08-26 21:23] Anil86 commented on #20
I think what you are saying is that singleton services are immediately initialized while their dependencies may not have been initialized yet.

___

Why are you needing `BlazorDownloadFileService` as a `Singleton`?

I'm queueing jobs using [Hangfire](https://github.com/HangfireIO/Hangfire "An easy way to perform background job processing in your .NET and .NET Core applications. No Windows Service

[2020-08-26 21:39] arivera12 commented on #20
I can recommend you 2 options:

1) Make  `BlazorDownloadFileService` a  `Transient` service and try again.
2) Move `BlazorDownloadFileService` into a global scope in your context and past it down to your function globally and try again.

Let me know if any of those options worked for you.

If not let me know so I will add the modifications to make `BlazorDownloadFileService` available as a `Single

[2020-08-26 23:19] Anil86 commented on #20
1. Making `BlazorDownloadFileService` a Transient service didn't work
2. Storing `BlazorDownloadFileService` as a `static` variable in `Startup.cs` worked partially.

Still got the error:

[code]

I'm thinking of a simpler approach to have a single Job which will call dependent `Service` methods.
Thus `Service` doesn't need to be a `Singleton`.

[2020-08-26 23:32] arivera12 commented on #20
Try using `OnAfterRenderAsync` instead of `OnInitializedAsync`.

The `IJSRuntime` is not available `OnInitializedAsync` lifetime.

[2020-12-23 18:26] StefH opened #21 "Extend the "DownloadFile(string fileName, ..." methods with IProgress"
Is it possible that you extend the DownloadFile methods with `IProgress<double> progress? = null` which reports the % done on the download?

As example see:
https://github.com/Tyrrrz/YoutubeExplode/blob/e3e9b391941b3ab7fccacd665a361339a791849d/YoutubeExplode/Internal/Extensions/StreamExtensions.cs#L19

[2020-12-23 20:54] arivera12 commented on #21
Yeah, it's possible.

When using the methods that are chunked from c# to javascript on the do-while/for loop I just need to provide a callback with the download progress.

[2021-01-11 16:11] stevanuswijaya opened #22 "Can we support DownloadFileFromText with charset parameter or by default supporting special characters"
Can we support DownloadFileFromText with **charset** parameter or by default supporting special characters? I'm currently trying to create a CSV file with Swedish characters in it (ÄÅÖäåö).

But the result is wrong:

![image](https://user-images.githubusercontent.com/18435961/104206473-d9405480-542f-11eb-80a4-93906a3d1929.png)

It's working if I added the code as in the image.

![image](https://us

[2021-01-12 17:20] arivera12 commented on #22
Seems weird to me, the `DownloadFileFromText `should be able to support all characters since it's utf-8 but not every charset maybe in the same encoding format when reading from any source.

As you can see this extension method https://github.com/arivera12/BlazorDownloadFile/blob/3f6383d3bd4435aabbf5f920316cad8088e48808/BlazorDownloadFile/Extensions/StringExtensions.cs#L13

Encodes all text to byt

[2021-01-12 17:27] arivera12 commented on #22
That error can also occur with the text editor and how does it's interprets the characters.

What software you are using to open the csv file? MS Excel?

[2021-01-14 08:04] stevanuswijaya commented on #22
As you can see here, when I call BlazorDownloadFile, the string was still okay.

![image](https://user-images.githubusercontent.com/18435961/104561243-5db8f000-5647-11eb-8617-2ed9e8e42ff6.png)

I'm using MS Excel to open the csv file.

[2021-01-14 11:12] arivera12 commented on #22
Ok, good can you check which charset enconding is your MS Excel opening the csv file?

[2021-01-14 11:13] arivera12 commented on #22
Can you check if the .csv file opened in notepad to see if it's encoded wrongly?

[2021-01-14 11:16] arivera12 commented on #22
If opened in notepad is wrong then I will expose the charset encoding as an option with a default value to prevent breaking changes on the api.

Please let me know asap.

[2021-01-14 11:21] arivera12 commented on #22
I would like also to know if after using the extension to base64encode does your encoding gets broken.

[2021-01-15 10:20] stevanuswijaya commented on #22
I opened the bad the file with notepad++.

![image](https://user-images.githubusercontent.com/18435961/104712238-9bd71200-5722-11eb-8d28-1818bf24e82f.png)

The encoding: UTF-8
![image](https://user-images.githubusercontent.com/18435961/104712368-be692b00-5722-11eb-9018-3ad0b1897bc2.png)

But in excel:

![image](https://user-images.githubusercontent.com/18435961/104712312-b27d6900-5722-11eb-8f07-9b

[2021-01-15 10:37] stevanuswijaya commented on #22
I tried to change the base64encode this code instead as you instructed

![image](https://user-images.githubusercontent.com/18435961/104714811-f4f47500-5725-11eb-8a3a-46654d3cf031.png)

and we still get same bad result

![image](https://user-images.githubusercontent.com/18435961/104714891-0b9acc00-5726-11eb-8dc7-a72c92669175.png)

[2021-01-15 17:28] arivera12 commented on #22
Thanks for the investigation and the input I will take a deeper look on it.

Can you share any sample data for me in json format?

So I can use it has a test case?

[2021-01-15 17:30] arivera12 commented on #22
Wait a minute I read this in a hurry, in notepad++ the file opened ok. But in excel is wrong but after changing the encoding file format in notepad++ the excel read ok?

[2021-01-15 23:05] arivera12 commented on #22
This seems to be an issue with excel on how interprets csv filed but not rather with this library and the download process.

Reference:
https://stackoverflow.com/questions/6002256/is-it-possible-to-force-excel-recognize-utf-8-csv-files-automatically

[2021-01-15 23:09] arivera12 commented on #22
Please upload for me a test json data so I can retest those special chars there seems to be a workaround this in the reference link.

[2021-01-18 08:40] stevanuswijaya commented on #22
Here is the test json, I had same issue with it. Let me know if you need more information.
[test data.zip](https://github.com/arivera12/BlazorDownloadFile/files/5828863/test.data.zip)

Sorry for late reply, I think we have a huge time difference and I was really busy at work :)

[2021-01-20 04:58] #21 closed

[2021-01-20 05:25] arivera12 commented on #21
New release
Install-Package BlazorDownloadFile -Version 2.1.6

[2021-01-20 05:30] arivera12 commented on #22
New release
Install-Package BlazorDownloadFile -Version 2.1.4

@stevanuswijaya I didn't had time to test  your attached file data but it should work for you out of the box.

I am in a hurry.

Please try out this new package version.

Take a look of this [commit ](https://github.com/arivera12/BlazorDownloadFile/commit/c590d7fee1af8a2839a94aeab297fb49a9b59886) for more details.

I turned on by defau

[2021-01-20 07:40] ErnanMaisels opened #23 "Download Excel file"
Hi, can you please show me how to download excel or csv file from list of objects?
thanks a lot.

[2021-01-20 11:01] stevanuswijaya commented on #22
Hi

Unfortunately, I still got same problem.

![image](https://user-images.githubusercontent.com/18435961/105165801-133be580-5b17-11eb-9ce1-d6abf3429764.png)

[2021-01-20 13:12] arivera12 commented on #22
Ok, give me a time so I can retest this with more free time, reopening.

[2021-01-20 13:19] arivera12 commented on #23
Hi,

You can use this method `DownloadFileFromText` after you are able to transform your list of objects to a string csv format.

Excel compatible software should be able to read .csv file without any issues.

There are plenty of libraries that does this job for you like for example: csvhelper or servicestack.text.

[2021-01-20 13:36] arivera12 commented on #23
Take note that MS Excel have encoding issues when opening csv files and I am currently working on how to fix it. Take a look of this issue https://github.com/arivera12/BlazorDownloadFile/issues/22

[2021-01-20 13:40] ErnanMaisels commented on #23
thanks a lot.

I used this (on the controller):

` var stream = new MemoryStream();
                await stream.WriteAsync(Encoding.UTF8.GetPreamble());
                await using (var writeFile = new StreamWriter(stream, leaveOpen: true))
                {
                    var csv = new CsvWriter(writeFile, CultureInfo.InvariantCulture, true);
                    await csv.WriteRecordsAsync(

[2021-01-20 13:42] arivera12 commented on #23
Does Encoding.UTF8.GetPreamble() fixed the excel encoding issue for you?

[2021-01-20 13:44] ErnanMaisels commented on #23
yes, it is (for Hebrew letters).

[2021-01-20 13:56] arivera12 commented on #23
So weird that this didn't worked for me on the mentioned issue
`Convert.ToBase64String(new UTF8Encoding(encoderShouldEmitUTF8Identifier).GetBytes(plainText));`

I will give it a try to `Encoding.UTF8.GetPreamble()`

[2021-01-20 13:58] ErnanMaisels commented on #23
Espero que esto ayude.
Contame.

[2021-01-20 14:28] arivera12 commented on #23
Hablas español? o usastes el traductor de google? jeje

[2021-01-20 14:30] ErnanMaisels commented on #23
Nací en Argentina, pero desde los 6 años (1983) vivo en Israel

[2021-01-20 14:30] arivera12 commented on #23
Aqui un amigo desarrollador puertorriqueño jeje

[2021-01-20 14:31] ErnanMaisels commented on #23
¡Un amigo que me ayudó mucho!

[2021-01-20 14:53] #22 closed

[2021-01-20 14:54] arivera12 commented on #22
It's seems I got it working now.
![image](https://user-images.githubusercontent.com/5600102/105191441-745ebb80-5b0d-11eb-8a89-f12ff58a80c5.png)

[2021-01-20 14:54] arivera12 commented on #23
Funciono gracias amigo!
![image](https://user-images.githubusercontent.com/5600102/105191441-745ebb80-5b0d-11eb-8a89-f12ff58a80c5.png)

[2021-01-20 14:56] arivera12 commented on #23
Install-Package BlazorDownloadFile -Version 2.1.5

[2021-01-20 14:57] arivera12 commented on #22
Install-Package BlazorDownloadFile -Version 2.1.5

Please give me feedback if this does work for you properly now!

[2021-01-20 15:07] arivera12 commented on #22
Install-Package BlazorDownloadFile -Version 2.1.6

`encoderShouldEmitUTF8Identifier` is now false as default please remember turning this option true when downloading the csv file.

[2021-01-20 15:11] arivera12 commented on #23
Install-Package BlazorDownloadFile -Version 2.1.6

`encoderShouldEmitUTF8Identifier` is now false as default please remember turning this option true when downloading the csv file if you don't set the `Encoding.UTF8.GetPreamble()` yourself.

[2021-01-21 09:22] stevanuswijaya commented on #22
It's working properly now! Thanks for the help!

[2021-01-22 01:26] arivera12 commented on #21
@StefH give me feedback when ever u can. It would be great to test this feature.

[2021-01-22 11:28] ltemimi opened #24 "Unable to download an exe file"
Hi

I am unable to download an exe file I get "error reload the page" yet I am able to download exe files from websites so I do not think it is a system or browser settings issue.

I am able to download msi files .

Thanks

Laz

[2021-01-22 12:29] Smurf-IV opened #25 "Unable to download large file (Via byte[] or stream)"
I have a memory stream that is `280803689` bytes
I have direct access to the buffer it contains via `var bytes = ms.GetBuffer();`

I then call
`            DowloadFileResult fileResult = await DownloadFileService.DownloadFile(FileDetails.OriginalFileName, bytes, cts.Token, 1024*64, "application/octet-stream", OnProgress);
`
Then 6 minutes later I get this:
[code]
L: GC_MAJOR_SWEEP: major size: 251

[2021-01-22 12:31] Smurf-IV commented on #25
I have tried via `DownloadBinaryBuffers` and `DownloadBase64Buffers`
But the calls for each 4MB (or 1MB) byte[] insertion take minutes each so is not performant enough

[2021-01-22 13:12] arivera12 commented on #25
This is a limitation of blazor and javascript itself I don't think it would be possible to fix browser max blob size. We would need to investigate futher on this.

[2021-01-22 13:13] arivera12 commented on #24
How do you are downloading the file? As a stream or byte[]?

[2021-01-22 13:43] arivera12 commented on #25
You may be hitting this

https://stackoverflow.com/questions/28307789/is-there-any-limitation-on-javascript-max-blob-size

[2021-01-22 13:59] Smurf-IV commented on #25
I'm using this now..
https://www.meziantou.net/generating-and-downloading-a-file-in-a-blazor-webassembly-application.htm
and it works fine.

[2021-01-22 14:10] arivera12 commented on #25
Interesting article. He is using low level api and seems to gain more performance and less overhead. Thanks for the share. I will be considering changing the implementation in the near future.

[2021-01-22 14:25] ltemimi commented on #24
yes as a stream of bytes

`` var bytes = FileHelper.GetFileBytes(filePatch);
        var result = await BlazorDownloadFileService.DownloadFile(fileToDownload, bytes, "application/octet-stream");
``

[2021-01-22 15:41] arivera12 commented on #24
can you share any screenshot of the error? How big is the file?

[2021-01-22 17:33] ltemimi commented on #24
<img width="1152" alt="EXEDownload" src="https://user-images.githubusercontent.com/5493492/105524681-df5bee00-5cd7-11eb-9fe9-7fa9ee1aa5f2.png">

all other files (bigger) download OK issue just with exe file

[2021-01-22 18:14] arivera12 commented on #24
This error seems or may be related to this one https://github.com/arivera12/BlazorDownloadFile/issues/25

[2021-01-22 18:21] arivera12 commented on #24
Pretty weird the other bigger files downloads ok but not the exe file...

[2021-01-25 15:18] Kasta11111 opened #26 "Throwing exception when using Content-Security-Policy "script-src 'self' " header"
Version: 2.1.6
AspNetCore: 3.1.8

After adding `Content-Security-Policy "script-src 'self' "` header DownloadFile function started throwing the following exception:

[code]

[2021-01-25 16:20] arivera12 commented on #26
As far I can see you are using blazor server side right?

Are you doing cross site scripting?

Can you share any code sample which reproduces this error?

[2021-01-25 17:35] Kasta11111 commented on #26
Yes, I am using blazor server.

Yes, it's because of XSS.

The example project is attached below.
Headers are added in `Startup.cs` on line `49` with `app.UseMiddleware<SecurityHeadersMiddleware>();`.

[BlazorDownloadTest.zip](https://github.com/arivera12/BlazorDownloadFile/files/5868381/BlazorDownloadTest.zip)

[2021-01-25 18:41] arivera12 commented on #26
Ok I will take a look soon.

[2021-01-28 16:14] ltemimi commented on #24
Hi

I increased the buffer size and I am now able to download my 110MB exe file but it takes 2 minutes for the download dialog to appear. I am using Blazor server app.

Is there a way of speeding the download up?

Thanks

[2021-01-28 19:27] arivera12 commented on #24
Thats something I forgot to ask about...

If it's blazor wasm or blazor server.

Blazor server transmit data using signal r and there are limitations on this.

I left those notations in the main readme.md of this repository

Take a look of this where I do left written some performance considerations and understandings.

https://github.com/arivera12/BlazorDownloadFile#performance-considerations-and

[2021-01-28 19:31] arivera12 commented on #24
Answering your question:

You can speed up download by increasing the buffer size.

[2021-01-28 19:35] arivera12 commented on #24
How much did you increased the buffer size and where did you increase it?

Blazor server app?

Or on blazor download file method?

Both sides?

[2021-01-29 09:56] ltemimi commented on #24
[code]
The signal R buffer increase do  not make any difference to the loading of the file from the server to be downloaded by the client

I am grateful for the help

[2021-01-29 20:28] arivera12 commented on #24
The only way to speed up download speed is to increase the buffer size here

 `BlazorDownloadFileService.DownloadFile(fileToDownload, bytes, 1024*64);
`

Bigger the buffer size, bigger are the chunks that are send from the server to the client.

Take note that your internet service provider speed is also a variant on your download speed.

As far I know there is nothing else we can do to speed up d

[2021-01-29 20:35] arivera12 opened #27 "How to speed up download?"
Hi

I increased the buffer size and I am now able to download my 110MB exe file but it takes 2 minutes for the download dialog to appear. I am using Blazor server app.

Is there a way of speeding the download up?

Thanks

_Originally posted by @ltemimi in https://github.com/arivera12/BlazorDownloadFile/issues/24#issuecomment-769195912_

[2021-01-29 20:36] arivera12 commented on #27
https://github.com/arivera12/BlazorDownloadFile/issues/24#issuecomment-769319107

[2021-01-29 20:37] arivera12 commented on #27
The only way to speed up download speed is to increase the buffer size here

EXAMPLE

`BlazorDownloadFileService.DownloadFile(fileToDownload, bytes, 1024*64);`

Bigger the buffer size, bigger are the chunks that are send from the server to the client.

Take note that your internet service provider speed is also a variant on your download speed.

This variant applies to the server and the clients.

[2021-01-29 20:39] arivera12 commented on #27
I left those notations in the main readme.md of this repository

Take a look of this where I do left written some performance considerations and understandings.

https://github.com/arivera12/BlazorDownloadFile#performance-considerations-and-understandings

The next link is the signal r documentation and based on this you need to do buffer management based on your signal r `ApplicationMaxBufferSize

[2021-01-29 20:43] arivera12 commented on #24
Since this question was asked only for downloading exe file and you asked me about download speed I created a new issue for that. Please refer to this issue since downloading the exe file was already resolved for you. https://github.com/arivera12/BlazorDownloadFile/issues/27

[2021-01-29 20:43] #24 closed

[2021-01-29 22:48] arivera12 opened #28 "Upgrade to NET5"
https://docs.microsoft.com/en-us/aspnet/core/migration/31-to-50?view=aspnetcore-5.0&tabs=visual-studio

[2021-01-29 22:52] arivera12 commented on #28
This upgrade may help fix and improve this issues but this may require to upgrade to NET5, it seems worth for blazor wasm to increase download speed in a exponential way.

[2021-02-05 17:42] StefH commented on #21
Hello @arivera12,

Sorry, but I actually moved away from your project and created another project https://github.com/StefH/Blazor.DownloadFileFast which has some extra download speed increase in .net 5.0

[2021-02-05 18:56] arivera12 commented on #21
@StefH I saw already some days ago and also someone posted the same article you use for that extra download speed. I will be using that approach soon. Thanks for the share.

[2021-03-29 15:51] arivera12 commented on #26
@Kasta11111 I found what is wrong. Since blazor dowload file uses eval, setting Content-Security-Policy "script-src 'self' " disables the eval function. This would need some rewrite.

[2021-04-19 09:31] franciscodeasis opened #29 "namespaces not fount"
hi i justinstall the package and  import in my program.cs the
 builder.Services.AddBlazorDownloadFile();
 and when i am trying to use this line in a blazor page
 [Inject]
    public IBlazorDownloadFileService BlazorDownloadFileService { get; set; }

i got this error:

Error CS0246 Type or namespace name 'IBlazorDownloadFileService' not found (is a using directive or assembly reference missing?)

i

[2021-04-19 13:13] arivera12 commented on #29
I have not tried blazor download file with .net5 since I found lot of incompatibilities and broken api. Can you share a reproduction of this error so I can take a look?

[2021-04-19 13:46] franciscodeasis commented on #29
ok thank you, don't worry i just solved it by changing this line in the inject:
  public Blazor.DownloadFile.Interfaces.IBlazorDownloadFileService BlazorDownloadFileService { get; set; }

[2021-04-19 13:46] #29 closed

[2021-04-20 08:35] MarvinKlein1508 opened #30 "Add support for file encoding"
We are generating a CSV file with a `StringBuilder`.

Once the StringBuilder is build we want to download the generated content as file with `BlazorDownloadFile`.

`await downloadService.DownloadFileFromText("StarMoney_SepaImport.csv", sb.ToString(), "text/plain");`

The file will be downloaded with UTF-8 encoding but we need ISO-8859-1 in our case. So it would be nice if we can pass the encoding

[2021-04-20 16:09] arivera12 commented on #30
Do you have any encoding issues? The encoding default encoding utf8 should work all cases.

[2021-04-20 16:47] MarvinKlein1508 commented on #30
@arivera12 no I just want to change the default encoding. However, I got a workaround for this working. When I use the byte[] method instead of the string one, it uses the correct encoding.

So I converted my string to a byte[] and then then byte[] to an ISO-8859-1 byte[]

[2021-04-20 18:16] arivera12 commented on #30
The download method downloads the text file as-is no file enconding or conversion is done or used at all.

[2021-04-20 18:17] arivera12 commented on #30
I will think about it and consider adding support for this.

[2021-10-02 21:45] surgicalcoder commented on #28
This is now a breaking change in .net 6.0 - https://docs.microsoft.com/en-us/dotnet/core/compatibility/aspnet-core/6.0/byte-array-interop

You get the following error:

[code]

[2021-10-04 16:31] arivera12 commented on #28
I will try take a look how to upgrade this with backward compatibility.

[2021-10-19 18:31] ryanbuening opened #31 "Naming Issue - DowloadFileResult"
It appears that DowloadFileResult is missing an "n" => DownloadFileResult

![image](https://user-images.githubusercontent.com/812974/137969865-c9982aa7-b3a4-4d1d-8f99-4254a4997094.png)

https://github.com/arivera12/BlazorDownloadFile/blob/master/BlazorDownloadFile/Models/DowloadFileResult.cs#L3

[2021-10-20 18:07] TanayParikh commented on #28
Hello @arivera12, I'd recommend skipping .NET 5 and going straight to .NET 6 in this case as .NET 6 has significant improvements to the byte array interop mechanisms.

Blazor no longer Base64 encodes/decodes `byte[]`, and also natively supports streaming via `JSStreamReference`/`DotNetStreamReference`. This'll provide **SIGNIFICANT** improvements to stability and performance over .NET 5 in this ar

[2021-10-20 21:36] arivera12 commented on #31
ahh yes I will fix this typo soon once I upgrade to net 5

[2021-10-20 22:07] arivera12 commented on #28
@TanayParikh yes this is a huge performance boost.

I see people having issues at this moment with net5 and net6.

I will try separate a space on the weekend to upgrade this with backward compatibility

[2021-11-03 13:43] Kasta11111 commented on #26
Any progress?

[2021-11-03 21:01] arivera12 commented on #26
Not yet, in a few weeks

[2021-12-05 20:11] arivera12 opened #32 "Upgrade and test NET6"
Hello @arivera12, I'd recommend skipping .NET 5 and going straight to .NET 6 in this case as .NET 6 has significant improvements to the byte array interop mechanisms.

Blazor no longer Base64 encodes/decodes `byte[]`, and also natively supports streaming via `JSStreamReference`/`DotNetStreamReference`. This'll provide **SIGNIFICANT** improvements to stability and performance over .NET 5 in this ar

[2021-12-05 20:16] #28 closed

[2021-12-05 20:17] #31 closed

[2021-12-05 21:06] arivera12 commented on #32
Notes:

When passing a byte[] from .NET to JavaScript, the bytes are now received as a Uint8Array instead of as a Base64 encoded string. Code that previously decoded the Base64 encoded string will need to be removed. See the related announcement for details on this breaking change.

[2021-12-06 03:45] #30 closed

[2021-12-06 03:47] arivera12 commented on #30
This feature is now available on version 2.3.0

[2021-12-06 03:48] arivera12 commented on #31
Please download latest version 2.3.0.

[2021-12-06 03:48] arivera12 commented on #28
Please download latest version 2.3.0.

[2021-12-06 03:57] arivera12 commented on #32
I am missing here the stream management support which will be a huge improvement to add.

What I did to keep backward compatibility with older blazor apps was just adjust the JavaScript part to manage how blazor is transferring the data.

[2021-12-06 17:51] arivera12 commented on #26
https://github.com/arivera12/BlazorDownloadFile/commit/0df3baad527878e5fbc69919207b62b3d1347225

Now you should include the blazor download file script in this way

`<script src="_content/BlazorDownloadFile/BlazorDownloadFileScript.js"><script>`

Available on version 2.3.1

[2021-12-06 17:51] #26 closed

[2021-12-15 20:15] thalaeg commented on #25
I was having an issue with an even smaller size (400kb ish)

I turned my stream into a byte array and it worked.

@arivera12, you might want to impliment this
[code]

for your

[code]

I can submit a PR if you need/like

[2021-12-16 00:47] arivera12 commented on #25
@thalaeg which issue are you having? I don't get what are trying to tell me. This issue is about managing large files which I haven't worked on it yet. if you have another issue please create a new issue.

[2021-12-16 18:20] thalaeg commented on #25
@arivera12 My issue was when I had a file that was too large (anything above 64ish KBs) the file would become corrupted.

I was downloading excel files (.xlsx extension) via a
`await BlazorDownloadFileService.DownloadFile("usaFile.xlsx", usaStream, CancellationToken.None, CancellationToken.None, progress: null);`

Where `usaStream` was a `Stream`.

When I changed `usaStream` to a `byte[]` via the

[2021-12-16 18:31] arivera12 commented on #25
that's weird are you using blazor server or blazor wasm?

if you are using blazor server you may be hitting this:

https://docs.microsoft.com/en-us/aspnet/core/signalr/security?view=aspnetcore-3.1#buffer-management

[2021-12-16 18:34] thalaeg commented on #25
blazor wasm

here is the `.csproj` if helpful

[code]

[2021-12-16 18:38] arivera12 opened #33 "I was having an issue with an even smaller size (400kb ish)"
I was having an issue with an even smaller size (400kb ish)

I turned my stream into a byte array and it worked.

@arivera12, you might want to impliment this
[code]

for your

[code]

I can submit a PR if you need/like

_Originally posted by @thalaeg in https://github.com/arivera12/BlazorDownloadFile/issues/25#issuecomment-995179757_

[2021-12-16 18:38] arivera12 commented on #25
What I can think is that I may be having a bug in the stream overload method. I will move this into a new issue.

[2021-12-16 18:45] arivera12 commented on #33
@thalaeg can you compare the bytes length of the .xlsx file when using the stream and byte[] overload methods?

[2021-12-16 20:47] thalaeg commented on #33
sure. Interestly, something I discovered by accident,

`await BlazorDownloadFileService.DownloadFile("streamFile.xlsx", myStream, CancellationToken.None, CancellationToken.None, progress: null);`
does **not** work.

but
`await BlazorDownloadFileService.DownloadFile("streamFile.xlsx", myStream, contentType: "application/octet-stream");`

seems to work.

Byte size: 373,633
Stream size (failing): 163

[2021-12-19 23:18] arivera12 commented on #33
@thalaeg

The method that **works** have a different implementation from the one that **doesn't work.

The buffered method that is the one that **doesn't work** I may be having issues reading the bytes from the stream.

https://github.com/arivera12/BlazorDownloadFile/blob/17772303935bbccd96c519f2172bff60e1870405/BlazorDownloadFile/Service/BlazorDownloadFileService.cs#L371

163,840 bytes is almost

[2022-04-07 08:20] MarvinKlein1508 opened #35 "Downloading PDF in Firefox redirects to blob://"
Hi!

Since a week we are having issues with downloading files in Firefox.

I have this piece of code:
[code]

As you can see, I want to download AN-XXXXX.pdf which becomes generated one line before. Downloading the PDF will result in Firefox redircet to a blob:// url which displays the PDF.
`blob:https://localhost:5001/275606a8-d314-4674-9f2d-44fa282e4da9`

I'm running Windows 10 Professional 21H1

[2022-04-10 16:25] arivera12 commented on #35
Hi @MarvinKlein1508:

`await downloadService.DownloadFile($"AN-{Angebotsnummer}.pdf", await File.ReadAllBytesAsync(filenameAngebotPdf), "application/pdf");`

The IBlazorDownloadFileService has nothing to do based on the browser download behavior.

As you said: _It works in Chrome and Edge_

What I can do/provide to see if its works for firefox browser regular dowload behavior is adding another par

[2022-04-11 09:49] MarvinKlein1508 commented on #35
@arivera12 this seems to be an issue with the current version of Firefox. It worked in Firefox as well. When I use the Firefox Developer Edition (which is already using Firefox 100) it works again there.

So this seems to be a temporary issue.

[2022-04-12 00:41] arivera12 commented on #35
@MarvinKlein1508 closing this issue for now, hope your bug over firefox gets fixed ASAP.

[2022-04-12 00:41] #35 closed

[2022-04-28 01:39] KieranRobson opened #38 "Trying to Download PDF but cant open it after download"
` var buffer = new MemoryStream();
            var writer = new BinaryWriter(buffer);

            writer.Write("Student Number: " + studentNumber + "\r\n");
            writer.Write("Module: " + selectedModule + "\r\n");
            writer.Write("ACW: " + selectedACW + "\r\n");
            writer.Write("\r\n");

            writer.Write("Section 1" + "\r\n");
            writer.Write("Section: "

[2022-04-28 13:59] arivera12 commented on #38
Hi @KieranRobson,

Blazor download file downloads any file as-is, so there is no conversion to the file data.

can you try saving your pdf to disk and try open it from there to discard any file corruption from blazor download file end?

[2022-04-28 15:19] Ki-er commented on #38
Hello @arivera12!

When I open a pdf, I get an error that it can not be opened, I tried in chrome, Edge and Adobe reader

Thanks for the speedy reply and for creating this package!

[2022-04-28 21:48] arivera12 commented on #38
@KieranRobson

Did you tried opening it without using blazor download file?

[2022-04-28 21:52] arivera12 commented on #38
@KieranRobson

If your pdf can't be opened **_without using blazor download file in the first place_** then your pdf file data is corrupted

[2022-05-22 17:38] arivera12 commented on #38
Closing due to no activity. Please feel free to reopen.

[2022-05-22 17:38] #38 closed

[2022-05-24 03:32] DenisPolagaev opened #39 "Unable to download a file larger than 500 MB"
Unable to download a file larger than 500 MB.

Used your library, in particular the method: DownloadFile(string filename, Stream stream, CancellationToken cancellationTokenBytesRead, CancellationToken cancellationTokenJavaScriptInterop, string ContentType = "application/octet-stream").

But when you try to download a file larger than 200 MB, an exception occurs, which says that there was not enoug

[2022-05-24 13:28] arivera12 commented on #39
This method you mentioned above takes the entire stream as pass it to javascript entirely, and since your file is too big this error is expected.

You need to use the overload method with the **bufferSize** to pass it by chunks to javascript.

More bigger is the **bufferSize** then the download speed is better.

[2022-05-26 04:45] DenisPolagaev commented on #39
Thanks for the answer, I'll try in 5 hours, I'll unsubscribe.

[2022-05-26 13:28] DenisPolagaev commented on #39
I use this code, but it downloads a piece of buffer 1 time, then nothing happens.

[code]

[2022-05-26 13:38] DenisPolagaev commented on #39
Or here's another:

[code]
FileSize:

![image](https://user-images.githubusercontent.com/32395325/170498822-8d652c48-6122-4414-9710-06c7384fc7cb.png)

Stream size:
272445978

Console.WriteLine Output:

[code]
And download

![image](https://user-images.githubusercontent.com/32395325/170503928-ffe1f30d-953a-48aa-9327-1cc9cf6c66e6.png)

[2022-05-26 14:08] DenisPolagaev commented on #39
I user you code:

[code]

[2022-05-26 14:24] arivera12 commented on #39
Where is this issue ocurring?

Blazor server?
Blazor wasm?

Which browser and version?

[2022-05-26 14:31] arivera12 commented on #39
Also need to know which arq is your cpu and OS and how much memory you computer has since there are limitations when downloading big files through javascript per browser provider.

[2022-05-26 14:32] arivera12 commented on #39
Please read this and see if this case applies to your case.
https://stackoverflow.com/questions/28307789/is-there-any-limitation-on-javascript-max-blob-size

[2022-05-26 15:14] DenisPolagaev commented on #39
![image](https://user-images.githubusercontent.com/32395325/170518239-190db45a-0e72-446d-81d9-2d9ba4e799f9.png)

[2022-05-26 15:15] DenisPolagaev commented on #39
I did it like this. It works.

[code]

But there is a nuance, when the user clicked on the download button, he first downloads the buffer, and only then the save appears.

![image](https://user-images.githubusercontent.com/32395325/170518655-edecbf6f-dbe3-4491-95ae-664ea4938fbb.png)

[2022-05-26 15:18] DenisPolagaev commented on #39
Latest Yandex, Opera.

Blazor Server

[2022-05-26 15:23] DenisPolagaev commented on #39
And to download the file, it shakes in chunks, while generating requests.

![image](https://user-images.githubusercontent.com/32395325/170519986-60e8595c-1b0d-473a-a2fe-2bbf0eebe4c4.png)

per 552 mb file, 804 requests

[2022-05-26 15:34] DenisPolagaev commented on #39
In js, can it be first to give the user a link, and then write bytes there?

[2022-05-26 15:43] arivera12 commented on #39
This is the way it works, and there is nothing else we can do about it.

You may need to increase the buffer size as _you seems to do it already_ to lower the requests number.

Remember that blazor is transferring the bytes in chunks from blazor server to javascript via js interop.

[2022-05-26 15:43] arivera12 commented on #39
what you mean by this?

[2022-05-26 15:46] arivera12 commented on #39
The trick over here is increase the buffer size.

Blazor server signal r should be halting from so many request on so short time span.

Increase the buffersize to 2-5 megabytes and try again for that download.

[2022-05-26 15:48] DenisPolagaev commented on #39
In ASP net core, they used to do this:

https://stackoverflow.com/questions/42460198/return-file-in-asp-net-core-web-api

In the Blazor, you can give a link to the file https://docs.microsoft.com/en-us/aspnet/core/blazor/file-downloads ?view=aspnetcore-6.0

[2022-05-26 15:49] DenisPolagaev commented on #39
I'll try it tomorrow, but I think I can find an alternative. And do , for example , how to give files to Google Dock . Generate a link, the user receives a link to the stream, the browser understands and downloads.

[2022-05-26 15:52] arivera12 commented on #39
The best option for big file is use the content-disposition attachment response as I explained on the readme.md of this repository.

![image](https://user-images.githubusercontent.com/5600102/170525210-396df8df-cbaa-495b-8619-27ddd9c8ecad.png)

[2022-05-26 15:57] arivera12 commented on #39
And yes, even if I recommend use content-disposition from files incoming from the server, you can still download files from the server as you are trying to do over my library but huge files incoming from the server as is your case will halt blazor server or javascript max blob size on the browser side if it's extremely big or you dont tune up the buffersize.

[2022-05-26 22:51] arivera12 commented on #39
Please let me know if this worked for you so I may start migration.